@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap");
@font-face {
  font-family: "regular";
  src: url(../assets/fonts/Robot-Regular.ttf); }

@font-face {
  font-family: "bold";
  src: url(../assets/fonts/QuixoticSansBold-MV0jr.otf); }

@font-face {
  font-family: "jumper";
  src: url(../assets/fonts/Jumper-rglpk.ttf); }

@font-face {
  font-family: "poppiti";
  src: url(../assets/fonts/Poppins-ExtraBold); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'bold'; }

main {
  --nav-height: 107.6px;
  padding-top: var(--nav-height); }

h1 {
  color: #0066ff;
  font-family: "bold";
  font-size: 18px;
  letter-spacing: 1px; }

h2 {
  color: #0066ff;
  font-size: 13px;
  letter-spacing: 1px; }

h3 {
  color: #0066ff;
  font-family: "regular";
  font-size: 8px;
  letter-spacing: 1px; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  height: 100vh;
  background-image: linear-gradient(135deg, #00B7D4, #505488, #2F3F80, #161569, #112484, #0b67a4, #00B7D4);
  background-image: linear-gradient(135deg, aqua, #7300ff);
  background-image: linear-gradient(135deg, aqua, #8dd8ff, #00b3ff, #3a72ff, #073dff, #001e88, #7300ff);
  background-size: 500% 100%;
  background-repeat: no-repeat;
  animation: gradient 4s ease forwards; }
  body::after {
    content: "";
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/seatexture1.jpg");
    /* Cambia la ruta a la imagen de textura */
    opacity: 0.05;
    /* Ajusta la opacidad para controlar la intensidad de la textura */
    pointer-events: none;
    /* Evita que la textura interfiera con la interacción */ }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }

.boton-inicial {
  margin-top: 70px; }

.btn-neon {
  position: relative;
  display: inline-block;
  padding: 7px 14px;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s; }

.btn-neon:hover {
  background: #00B7D4;
  box-shadow: 0 0 5px #00B7D4, 0 0 20px #00B7D4, 0 0 40px #00B7D4;
  transition-delay: 1s; }

.btn-neon span {
  position: absolute;
  display: block; }

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #a945c7); }

.btn-neon:hover #span1 {
  left: 100%;
  transition: 1s; }

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #a945c7); }

.btn-neon:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s; }

#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #a945c7); }

.btn-neon:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s; }

#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #a945c7); }

.btn-neon:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s; }

.btn-neons {
  position: relative;
  display: inline-block;
  padding: 7px 14px;
  color: #ffffff;
  background-color: rgba(0, 255, 255, 0.3);
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s; }

.btn-neons:hover {
  background: #7300ff;
  color: #fff;
  box-shadow: 0 0 5px #7300ff, 0 0 20px #7300ff, 0 0 40px #7300ff;
  transition-delay: 1s; }

.btn-neons span {
  position: absolute;
  display: block; }

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #a945c7); }

.btn-neons:hover #span1 {
  left: 100%;
  transition: 1s; }

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #a945c7); }

.btn-neons:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s; }

#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #a945c7); }

.btn-neons:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s; }

#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #a945c7); }

.btn-neons:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s; }

.form-control {
  margin-right: 10px;
  margin-left: -15px; }

.btn-outline-success {
  border-color: white;
  color: #0066ff; }
  .btn-outline-success:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #0066ff 0%, #002a68 100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-active-bg: #ffffff;
    --bs-btn-active-border-color: #ffffff; }

.arrow {
  position: absolute;
  position: fixed;
  /* Cambia a position: fixed */
  left: 100%;
  /* Centra horizontalmente */
  top: 120%;
  transform: translate(-50%, -50%);
  white-space: nowrap; }
  .arrow span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid aqua;
    border-right: 3px solid aqua;
    transform: rotate(45deg);
    margin: -10px;
    animation: arrows 2s infinite; }
    .arrow span:nth-child(2) {
      animation-delay: -.2s; }
    .arrow span:nth-child(3) {
      animation-delay: -.4s; }

.arrows {
  position: absolute;
  /* Cambia a position: fixed */
  left: 100%;
  /* Centra horizontalmente */
  top: 132%;
  transform: translate(-50%, -50%);
  white-space: nowrap; }
  .arrows span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 3px solid aqua;
    border-right: 3px solid aqua;
    transform: rotate(45deg);
    margin: -10px;
    animation: arrows 2s infinite; }
    .arrows span:nth-child(2) {
      animation-delay: -.2s; }
    .arrows span:nth-child(3) {
      animation-delay: -.4s; }

header {
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(to bottom, rgba(57, 0, 101, 0.5), rgba(0, 0, 0, 0));
  transition: transform 1s; }

section {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px; }
  section div {
    margin-top: 60px;
    padding: 20px; }
    section div a img {
      width: 50px; }
    section div a button {
      width: 200px; }

.active {
  z-index: 1001;
  background: white;
  color: black;
  height: 100px;
  border-bottom: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  animation: borderAnimation 5s linear infinite;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); }
  .active section {
    margin-top: 0px; }
    .active section div {
      margin-top: 50px; }
  .active .btn-neon {
    color: black; }

.header--hidden {
  transform: translateY(-107.6px);
  box-shadow: none; }

@keyframes borderAnimation {
  0%, 100% {
    border-image-source: linear-gradient(to left, #00B7D4, #505488); }
  20% {
    border-image-source: linear-gradient(to left, #2F3F80, #161569); }
  40% {
    border-image-source: linear-gradient(to left, #112484, #0b67a4); }
  60% {
    border-image-source: linear-gradient(to left, #00B7D4, #505488); }
  80% {
    border-image-source: linear-gradient(to left, #d53a9d, #ff6b6b); } }

main section {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0;
  /* Asegúrate de que no haya padding */
  margin: 0; }
  main section div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px; }
  main section .titulo {
    padding: 10px; }
    main section .titulo h1 {
      position: relative;
      padding: 20px;
      margin-top: -80px;
      font-size: 6vw;
      letter-spacing: 6px;
      margin-bottom: 0;
      -webkit-text-stroke: 0.15vw rgba(255, 255, 255, 0.5);
      color: rgba(255, 0, 0, 0);
      overflow: hidden;
      animation: showText 1s forwards; }
      main section .titulo h1::before {
        content: attr(data-text);
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        color: white;
        border-right: 10px solid white;
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.2);
        -webkit-text-stroke: 0vw #ffffff;
        overflow: hidden;
        animation: title 2s linear forwards; }
      main section .titulo h1::after {
        content: "KyC";
        position: absolute;
        padding: 20px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: white;
        font-size: 6vw;
        letter-spacing: 6px;
        opacity: 0;
        animation: kyceffects 5s 3s infinite;
        z-index: 1001; }
  main section .subtitulo {
    position: relative;
    text-align: center; }
    main section .subtitulo h2 {
      font-size: 25px;
      color: aqua;
      text-shadow: 0 0 7px rgba(0, 255, 255, 0.2);
      position: absolute;
      top: -40px; }
  main section .wave {
    position: absolute;
    top: 420px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../assets/img/wave.png);
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i)*0.25); }
    main section .wave#wave1 {
      z-index: 1000;
      opacity: 1;
      background-position-x: 400px; }
    main section .wave#wave2 {
      z-index: 999;
      opacity: 0.5;
      background-position-x: 300px; }
    main section .wave#wave3 {
      z-index: 998;
      opacity: 0.2;
      background-position-x: 200px; }
    main section .wave#wave4 {
      z-index: 999;
      opacity: 0.7;
      background-position-x: 100px; }

@keyframes animate {
  0%, 100% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); } }

@keyframes arrows {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }

@keyframes showText {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes title {
  0%, 10% {
    width: 0%;
    border-right-width: 10px; }
  70%, 100% {
    width: 100%;
    border-right-width: 0px; } }

@keyframes kyceffects {
  0% {
    opacity: 0; }
  50% {
    opacity: 1;
    color: aqua;
    filter: blur(1px);
    text-shadow: 0 0 10px aqua, 0 0 20px aqua, 0 0 30px aqua; }
  100% {
    opacity: 0; } }

@keyframes kyceffect {
  0% {
    color: #7300ff;
    text-shadow: none; }
  100% {
    color: white;
    filter: blur(1px);
    text-shadow: 0 0 10px #7300ff; } }

.conteiner1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -155px;
  padding: 100px;
  padding-bottom: 0;
  background: linear-gradient(to bottom, white, #a4beff, #4a7eff, #1558ff, #0048ff, #0d00ff);
  background: linear-gradient(to bottom, white, aqua, #7300ff);
  height: 100vh; }
  .conteiner1 .content {
    margin-top: -180px;
    display: flex;
    justify-content: space-around; }
  .conteiner1 div {
    display: block;
    padding-top: 30px;
    padding-left: 20px; }
    .conteiner1 div .button-conteiner {
      margin-top: -2px; }
    .conteiner1 div h2 {
      margin-top: 5px;
      position: relative;
      font-size: 45px;
      padding-right: 100px;
      padding-left: 20px;
      color: #7300ff;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
      .conteiner1 div h2 span.neon {
        display: inline-block;
        position: relative;
        color: white;
        text-shadow: none; }
      .conteiner1 div h2 .animate {
        animation: kyceffect 3s alternate;
        animation-fill-mode: forwards; }
    .conteiner1 div .button-conteiner {
      margin-top: -40px; }
    .conteiner1 div p {
      font-size: 1em;
      color: white;
      font-family: "poppins", sans-serif;
      padding: 20px;
      padding-right: 100px;
      font-weight: 600;
      margin-top: 80px;
      text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); }

.mobile {
  width: 470px; }

.conteiner2 {
  background: linear-gradient(to bottom, #7300ff, #0d00ff);
  height: 100vh;
  margin-top: -61px;
  padding-left: 100px;
  padding-right: 100px; }
  .conteiner2 .content2 {
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 20px; }
    .conteiner2 .content2 .number-data {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .conteiner2 .content2 .number-data span.num {
        margin-top: 10px;
        color: white;
        display: grid;
        place-items: center;
        font-weight: 600;
        font-size: 35px;
        text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3); }
      .conteiner2 .content2 .number-data span.text {
        color: white;
        text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3); }
    .conteiner2 .content2 .data-number2 {
      margin-top: -70px;
      justify-content: center;
      gap: 250px; }
      .conteiner2 .content2 .data-number2 .number-data2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        .conteiner2 .content2 .data-number2 .number-data2 span.num {
          color: white;
          display: grid;
          place-items: center;
          font-weight: 600;
          font-size: 35px;
          text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3); }
        .conteiner2 .content2 .data-number2 .number-data2 span.text {
          color: white;
          text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5); }

.conteinerw3 {
  display: block;
  justify-content: center;
  align-items: normal;
  margin-top: 60px;
  background-color: white;
  border: 3px solid #dedede;
  border-radius: 20px 0px 20px 0px;
  height: 470px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5); }
  .conteinerw3 div {
    margin-top: 2px; }
    .conteinerw3 div .cont3 {
      margin-top: 15px;
      flex-direction: column;
      justify-content: flex-start; }
      .conteinerw3 div .cont3 h1 {
        margin-top: -20px;
        color: #7300ff;
        padding-top: 35px;
        font-size: 35px;
        text-shadow: 0px 2px 7px rgba(179, 179, 179, 0.5); }
      .conteinerw3 div .cont3 h2 {
        color: aqua;
        padding-top: 35px;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: 150;
        letter-spacing: 8px; }
  .conteinerw3 .cards-choose {
    padding: 20px;
    padding-top: 0;
    margin-top: -5px; }
    .conteinerw3 .cards-choose .carta {
      gap: 30px;
      margin: 50px;
      margin-top: 25px;
      padding: 20px;
      text-shadow: 0px 2px 7px rgba(179, 179, 179, 0.5); }
      .conteinerw3 .cards-choose .carta div .svg-icon {
        width: 16%;
        fill: aqua;
        transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1); }
        .conteinerw3 .cards-choose .carta div .svg-icon:hover {
          transform: scale(1.1); }
      .conteinerw3 .cards-choose .carta div h5 {
        color: black; }
      .conteinerw3 .cards-choose .carta div p {
        padding-top: 5px;
        font-weight: normal; }

.conteiner3 {
  height: 100vh;
  background: linear-gradient(to bottom, #0d00ff, aqua);
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: -61px;
  padding-left: 100px;
  padding-right: 100px; }
  .conteiner3 .cont4 {
    display: flex;
    flex-direction: column; }
    .conteiner3 .cont4 h1 {
      color: white;
      margin-top: -30px;
      padding-top: 35px;
      font-size: 35px;
      text-shadow: 0px 2px 7px rgba(179, 179, 179, 0.5); }
    .conteiner3 .cont4 h2 {
      padding-top: 50px;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 150;
      letter-spacing: 8px;
      color: white; }
  .conteiner3 .gridserv {
    margin-top: -25px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 70px;
    padding-top: 20px; }
    .conteiner3 .gridserv img {
      display: block;
      transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1); }
      .conteiner3 .gridserv img:hover {
        transform: scale(1.05); }
    .conteiner3 .gridserv .lista-servicios {
      display: block;
      justify-content: center;
      align-items: center;
      margin-top: -10px; }
      .conteiner3 .gridserv .lista-servicios div {
        display: block;
        justify-content: center;
        align-items: center; }
        .conteiner3 .gridserv .lista-servicios div .serv-icon {
          fill: white;
          transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1); }
          .conteiner3 .gridserv .lista-servicios div .serv-icon:hover {
            transform: scale(1.05); }
        .conteiner3 .gridserv .lista-servicios div h5 {
          color: white;
          font-size: 20px;
          text-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
          padding-top: 10px; }
          .conteiner3 .gridserv .lista-servicios div h5:hover {
            text-shadow: 0px 4px 7px #8c00ff; }
        .conteiner3 .gridserv .lista-servicios div p {
          margin-top: 10px;
          font-size: 14px;
          padding-right: 250px;
          font-family: poppins, sans-serif;
          font-weight: 600;
          color: rgba(255, 255, 255, 0.7); }

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0 0;
  transition: background 0.3s linear; }
  footer .conteinerfooter {
    max-width: 1240px;
    padding: 30px;
    margin: auto; }
    footer .conteinerfooter .content-footer {
      display: block;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem; }
      footer .conteinerfooter .content-footer .profil {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        footer .conteinerfooter .content-footer .profil div {
          display: block;
          justify-content: space-between;
          align-items: center; }
          footer .conteinerfooter .content-footer .profil div .logo-area {
            align-items: centrer;
            margin-bottom: 1rem; }
            footer .conteinerfooter .content-footer .profil div .logo-area img {
              width: 50px;
              transition: transform 0.5s cubic-bezier(0.2, 0.8, 0.2, 1); }
              footer .conteinerfooter .content-footer .profil div .logo-area img:hover {
                transform: scale(1.05); }
            footer .conteinerfooter .content-footer .profil div .logo-area span {
              font-size: 1.5 rem;
              font-weight: 700;
              margin: 0 1rem;
              color: black; }
          footer .conteinerfooter .content-footer .profil div .desc-area {
            max-width: 420px;
            margin-bottom: 1.25 rem; }
            footer .conteinerfooter .content-footer .profil div .desc-area p {
              color: #828282;
              font-weight: 400;
              line-height: 28px;
              font-family: poppins, sans-serif; }
          footer .conteinerfooter .content-footer .profil div .media-area a {
            color: #828282;
            margin-right: 22px;
            font-size: 24px; }
            footer .conteinerfooter .content-footer .profil div .media-area a:hover {
              color: #313131; }
        footer .conteinerfooter .content-footer .profil .service-area {
          display: flex; }
          footer .conteinerfooter .content-footer .profil .service-area .service-header {
            margin-right: 40px; }
            footer .conteinerfooter .content-footer .profil .service-area .service-header .service-name {
              color: #000;
              font-weight: 600;
              font-family: poppins, sans-serif; }
            footer .conteinerfooter .content-footer .profil .service-area .service-header li {
              margin-top: 10px;
              color: #828282;
              padding-bottom: 1px;
              font-weight: 400;
              font-family: poppins, sans-serif; }
              footer .conteinerfooter .content-footer .profil .service-area .service-header li:hover {
                color: #313131; }
        footer .conteinerfooter .content-footer .profil hr {
          height: 1px;
          border: none;
          background-color: #828282;
          margin-bottom: 1rem; }
        footer .conteinerfooter .content-footer .profil .footer-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 0.875rem; }
          footer .conteinerfooter .content-footer .profil .footer-bottom .copyright span {
            margin-left: 8px;
            font-weight: 400;
            letter-spacing: 0.135rem; }
          footer .conteinerfooter .content-footer .profil .footer-bottom .copyright .deploydby {
            color: #000;
            font-weight: 400;
            letter-spacing: 0.135rem; }
          footer .conteinerfooter .content-footer .profil .footer-bottom .tou a {
            color: #828282;
            margin-left: 1.5rem; }
            footer .conteinerfooter .content-footer .profil .footer-bottom .tou a:hover {
              color: #313131; }

@media screen and (max-width: 768px) {
  .content-footer {
    flex-wrap: wrap;
    justify-content: left; }
  .service-area {
    flex-wrap: wrap;
    justify-content: left; }
  .service-header {
    margin-left: 0;
    margin-right: 40px; }
  .media-area {
    margin-bottom: 1rem; }
  .footer-bottom {
    flex-wrap: wrap;
    justify-content: center; } }

@media screen and (max-width: 510px) {
  .service-header {
    margin-bottom: 8px; }
  .copyright {
    margin-bottom: 8px; }
  .profil {
    display: block; } }
