@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap");
@font-face {
  font-family: "regular";
  src: url(../assets/fonts/Robot-Regular.ttf); }

@font-face {
  font-family: "bold";
  src: url(../assets/fonts/QuixoticSansBold-MV0jr.otf); }

@font-face {
  font-family: "jumper";
  src: url(../assets/fonts/Jumper-rglpk.ttf); }

@font-face {
  font-family: "poppiti";
  src: url(../assets/fonts/Poppins-ExtraBold); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'bold'; }

main {
  --nav-height: 107.6px;
  padding-top: var(--nav-height); }

h1 {
  color: #0066ff;
  font-family: "bold";
  font-size: 18px;
  letter-spacing: 1px; }

h2 {
  color: #0066ff;
  font-size: 13px;
  letter-spacing: 1px; }

h3 {
  color: #0066ff;
  font-family: "regular";
  font-size: 8px;
  letter-spacing: 1px; }

body {
  height: 100vh;
  background-image: linear-gradient(135deg, #00B7D4, #505488, #2F3F80, #161569, #112484, #0b67a4, #00B7D4);
  background-size: 500% 100%;
  background-repeat: no-repeat;
  animation: gradient 45s ease infinite; }
  body::after {
    content: "";
    position: absolute;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/seatexture1.jpg");
    /* Cambia la ruta a la imagen de textura */
    opacity: 0.05;
    /* Ajusta la opacidad para controlar la intensidad de la textura */
    pointer-events: none;
    /* Evita que la textura interfiera con la interacción */ }

@keyframes gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.boton-inicial {
  margin-top: 70px; }

.btn-neon {
  position: relative;
  display: inline-block;
  padding: 7px 14px;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s; }

.btn-neon:hover {
  background: #00B7D4;
  box-shadow: 0 0 5px #00B7D4, 0 0 20px #00B7D4, 0 0 40px #00B7D4;
  transition-delay: 1s; }

.btn-neon span {
  position: absolute;
  display: block; }

#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #a945c7); }

.btn-neon:hover #span1 {
  left: 100%;
  transition: 1s; }

#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #a945c7); }

.btn-neon:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s; }

#span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #a945c7); }

.btn-neon:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s; }

#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #a945c7); }

.btn-neon:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s; }

.form-control {
  margin-right: 10px;
  margin-left: -15px; }

.btn-outline-success {
  border-color: white;
  color: #0066ff; }
  .btn-outline-success:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #0066ff 0%, #002a68 100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-active-bg: #ffffff;
    --bs-btn-active-border-color: #ffffff; }

header {
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: linear-gradient(to bottom, rgba(57, 0, 101, 0.5), rgba(0, 0, 0, 0)); }

section {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px; }
  section div {
    margin-top: 60px;
    padding: 20px; }
    section div a img {
      width: 50px; }
    section div a button {
      width: 200px; }

.active {
  z-index: 1001;
  background: white;
  color: black;
  height: 100px;
  border-bottom: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  animation: borderAnimation 5s linear infinite;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2); }
  .active section {
    margin-top: 0px; }
    .active section div {
      margin-top: 50px; }
  .active .btn-neon {
    color: black; }

@keyframes borderAnimation {
  0%, 100% {
    border-image-source: linear-gradient(to left, #00B7D4, #505488); }
  20% {
    border-image-source: linear-gradient(to left, #2F3F80, #161569); }
  40% {
    border-image-source: linear-gradient(to left, #112484, #0b67a4); }
  60% {
    border-image-source: linear-gradient(to left, #00B7D4, #505488); }
  80% {
    border-image-source: linear-gradient(to left, #d53a9d, #ff6b6b); } }

main section {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative; }
  main section div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px; }
  main section .titulo {
    padding: 10px; }
    main section .titulo h1 {
      position: relative;
      margin-top: -50px;
      font-size: 6vw;
      letter-spacing: 6px;
      margin-bottom: 0;
      -webkit-text-stroke: 0.15vw rgba(255, 255, 255, 0.5);
      color: rgba(255, 0, 0, 0);
      overflow: hidden;
      animation: showText 1s forwards; }
      main section .titulo h1::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        color: white;
        border-right: 10px solid white;
        text-shadow: 0 0 7px rgba(255, 255, 255, 0.2);
        -webkit-text-stroke: 0vw #ffffff;
        overflow: hidden;
        animation: title 2s linear forwards; }
  main section .subtitulo {
    position: relative;
    text-align: center; }
    main section .subtitulo h2 {
      font-size: 25px;
      color: #00B7D4;
      text-shadow: 0 0 7px rgba(0, 183, 212, 0.2);
      position: absolute;
      top: -40px; }
  main section .arrow {
    position: absolute;
    left: 100%;
    top: 97%;
    transform: translate(-50%, -50%); }
    main section .arrow span {
      display: block;
      width: 20px;
      height: 20px;
      border-bottom: 3px solid #00B7D4;
      border-right: 3px solid #00B7D4;
      transform: rotate(45deg);
      margin: -10px;
      animation: arrows 2s infinite; }
      main section .arrow span:nth-child(2) {
        animation-delay: -.2s; }
      main section .arrow span:nth-child(3) {
        animation-delay: -.4s; }
  main section .wave {
    position: absolute;
    top: 420px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(../assets/img/wave.png);
    background-size: 1000px 100px;
    animation: animate 4s ease-in-out infinite;
    animation-delay: calc(var(--i)*0.25); }
    main section .wave#wave1 {
      z-index: 1000;
      opacity: 1;
      background-position-x: 400px; }
    main section .wave#wave2 {
      z-index: 999;
      opacity: 0.5;
      background-position-x: 300px; }
    main section .wave#wave3 {
      z-index: 998;
      opacity: 0.2;
      background-position-x: 200px; }
    main section .wave#wave4 {
      z-index: 999;
      opacity: 0.7;
      background-position-x: 100px; }

.sec {
  margin-top: -155px;
  padding: 100px;
  background-color: white; }
  .sec h2 {
    margin-top: 60px;
    font-size: 3em;
    color: black; }
  .sec p {
    font-size: 1.2em;
    color: black;
    font-family: "poppins", sans-serif; }

@keyframes animate {
  0%, 100% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); } }

@keyframes arrows {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }

@keyframes showText {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes title {
  0%, 10% {
    width: 0%;
    border-right-width: 10px; }
  70%, 100% {
    width: 100%;
    border-right-width: 0px; } }
