@keyframes animate {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
}

@keyframes arrows {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }

}

@keyframes showText {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes title {
    0%, 10% {
        width: 0%;
        border-right-width: 10px;
    }
    70%, 100% {
        width: 100%;
        border-right-width: 0px;
    }
}