@keyframes animate {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
}

@keyframes arrows {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }

}

@keyframes showText {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes title {
    0%, 10% {
        width: 0%;
        border-right-width: 10px;
    }
    70%, 100% {
        width: 100%;
        border-right-width: 0px;
    }
}
@keyframes kyceffects {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        color: aqua;
        filter: blur(1px);
        text-shadow: 0 0 10px aqua, 0 0 20px aqua, 0 0 30px aqua;
        // text-shadow: 0 0 10px rgb(255, 0, 204), 0 0 20px rgb(255, 0, 204), 0 0 30px rgb(255, 0, 204);
    }
    100% {
        opacity: 0;
    }
}
@keyframes kyceffect {
    0% {
        color: rgb(115, 0, 255);
        text-shadow: none;
    }
    100% {
        color: rgb(255, 255, 255);
        filter: blur(1px);
        text-shadow: 0 0 10px rgb(115, 0, 255);
    }
}






