@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;900&display=swap');
main {
    section{
        @include flex(block, center, center);
        width: 100%;
        height: 100vh;
        position: relative;
        padding: 0; /* Asegúrate de que no haya padding */
        margin: 0;
        div {
            @include flex(flex, center, center);
            padding: 0px;
        }
        .titulo {
            padding: 10px;
            h1 {
                // font-family: 'Poppins', sans-serif;
                position: relative;
                padding: 20px;
                margin-top: -80px;
                font-size: 6vw;
                letter-spacing: 6px;
                margin-bottom: 0;
                -webkit-text-stroke: 0.15vw  rgba(#ffffff, 0.5);
                // text-transform: uppercase;
                color: rgba(255, 0, 0, 0.0);
                overflow: hidden;
                animation: showText 1s forwards;
                &::before {
                    content: attr(data-text);
                    position: absolute;
                    padding: 20px;
                    top: 0;
                    left: 0;
                    width: 0%;
                    height: 100%;
                    color: white;
                    border-right: 10px solid white;
                    text-shadow: 0 0 7px rgba(#ffffff, 0.2);
                    -webkit-text-stroke: 0vw #ffffff;
                    overflow: hidden;
                    animation: title 2s linear forwards;
                }
                &::after {
                    content: "KyC";
                    position: absolute;
                    padding: 20px;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: white;
                    font-size: 6vw;
                    letter-spacing: 6px;
                    opacity: 0;
                    animation: kyceffects 5s 3s infinite;
                    z-index: 1001;
                }
            }
        }
        .subtitulo {
            position: relative;
            text-align: center;
            h2 {
                font-size: 25px;
                color: aqua;
                text-shadow: 0 0 7px rgba(aqua, 0.2);
                position: absolute;
                top: -40px;
            }
        }
    }
}
