$bgd-color-principal: rgb(255, 255, 255);
$bgd-color-secundario: rgb(0, 102, 255);
$bdg-gradient: linear-gradient(90deg, rgba(0, 102, 255,1) 0%, rgb(0, 42, 104) 100%);
$bdg-gradient-2: linear-gradient(253deg, rgb(0, 102, 255), rgb(0, 42, 104));

$txt-color: rgb(0, 102, 255);

$border-color: rgb(0, 42, 104);
$border-gradient: linear-gradient(rgb(0, 42, 104), rgb(0, 102, 255));

$shadow-color: rgba(0,0,0,0.5);


$bgd-img: url(../assets/img/background-1.jpg);
// for white "url(../assets/img/background-2.jpg)"

$nav-img: url(../assets/img/conteiner11.jpg);

