body {
    height: 100vh;
    background-image: linear-gradient(135deg, #00B7D4, #505488, #2F3F80, #161569, #112484, #0b67a4, #00B7D4);
    background-size: 500% 100%;
    background-repeat: no-repeat;
    animation: gradient 45s ease infinite;
    &::after {
        content: "";
        position: absolute;
        background-attachment: fixed;
        background-size: cover;
        background-position: center top;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../assets/img/seatexture1.jpg"); /* Cambia la ruta a la imagen de textura */
        opacity: 0.05; /* Ajusta la opacidad para controlar la intensidad de la textura */
        pointer-events: none; /* Evita que la textura interfiera con la interacción */
    }
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
